## Heart Disease Prediction Using Machine Learning

##### Importing Libraries

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

##### Data Collection

In [4]:
df=pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [5]:
#number of rows and columns
df.shape

(1025, 14)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [7]:
df['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

#### Spliting Features and Target

In [8]:
X = df.drop(columns='target',axis=1) 
Y = df['target']

In [9]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [10]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

#### Spliting the Data into Training Data & Testing Data

In [11]:
X_train, X_test , Y_train, Y_test = train_test_split(X, Y,test_size=0.2)

#### Model Building

Logistic Regression

In [12]:
model = LogisticRegression(max_iter=1500)
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1500)

#### Accuracy

In [13]:
X_train_pred = model.predict(X_train)
train_accuracy = accuracy_score(X_train_pred,Y_train)
print("Train data prediction: ",train_accuracy)

Train data prediction:  0.8658536585365854

In [14]:
X_test_pred = model.predict(X_test)
test_accuracy = accuracy_score(X_test_pred,Y_test)
print("Test Data Prediction: ",test_accuracy)

Test Data Prediction:  0.8341463414634146

#### custom input data

In [20]:
input_data = np.array([41,0,1,130,208,0,0,172,0,1.4,2,0,2])
reshape = input_data.reshape(1,-1)
pred = model.predict(reshape)
print(pred)
if(pred):
    print("The Person has Heart Disease")
else:
    print("The person doesn't have Heart Disease")

[1]
The Person has Heart Disease

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(